<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="WinLockboxReader.Properties.Settings.Setting" connectionString="Data Source=TEST;User ID=user;Password=123456789"
      providerName="System.Data.OracleClient" />
    <add name="LockboxReader.Properties.Settings.Setting" connectionString="Data Source=TESTDB;User ID=user;Password=123456789"
      providerName="System.Data.OracleClient" />
  </connectionStrings>
  <appSettings>
    <add key="MailExchange" value="127.0.0.1" />
    <add key="From" value="lockbox@javierrosado.com" />
    <add key="To" value="admin@javierrosado.com" />
    <!-- OM_RECAUDOS-->
    <add key="CC" value="admin@javierrosado.com" />
    <add key="Bcc" value="admin@javierrosado.com" />
    <add key="Files" value="../../Files/" />
    <add key="FilesProcessed" value="../../FilesProcessed/" />
    <add key="Temp" value="c:\temp\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>